# Data Analysis of SARS 2003

## Summary 
---
* Objective：Compare the patterns of SARS 2003 with current COVID 2019
* Methods：Time Series Analysis
* Results：Under way

## Experiment
---
* 
* 

## Results
---
* 
* 

### Topic
* item
* item 

### Topic
* item 
* item 

## Future Works
---

## Reference 
---
* item 
* item

# Import libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd 

from pandas_datareader import DataReader
from datetime import datetime
%matplotlib inline
from scipy.stats import norm
import pandas_datareader.data as web

import statsmodels.api as sm
from statsmodels.tsa.api import stattools, AR, ARMA, VAR
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.stats.diagnostic import acorr_ljungbox

#from __future__ import print_function
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv1D, Conv2D, MaxPooling1D, MaxPooling2D

from keras import backend as K

# Import the data

In [2]:
df = pd.read_csv("sars_2003_complete_dataset_clean.csv")

# Check the data

In [10]:
df.head(50)

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
0,2003-03-17,Germany,1,0,0
1,2003-03-17,Canada,8,2,0
2,2003-03-17,Singapore,20,0,0
3,2003-03-17,"Hong Kong SAR, China",95,1,0
4,2003-03-17,Switzerland,2,0,0
5,2003-03-17,Thailand,1,0,0
6,2003-03-17,Viet Nam,40,1,0
7,2003-03-18,Germany,2,0,0
8,2003-03-18,Canada,8,2,0
9,2003-03-18,China,0,0,0
10,2003-03-18,Singapore,23,0,0
11,2003-03-18,"Hong Kong SAR, China",123,1,0
12,2003-03-18,"Taiwan, China",3,0,0
13,2003-03-18,Thailand,1,0,0
14,2003-03-18,Viet Nam,57,1,0
15,2003-03-18,Slovenia,1,0,0
16,2003-03-18,United Kingdom,1,0,0
17,2003-03-19,Canada,8,2,0
18,2003-03-19,China,0,0,0
19,2003-03-19,Germany,1,0,0
20,2003-03-19,"Hong Kong SAR, China",150,5,0
21,2003-03-19,Singapore,31,0,0
22,2003-03-19,Slovenia,1,0,0
23,2003-03-19,Spain,1,0,0
24,2003-03-19,"Taiwan, China",3,0,0
25,2003-03-19,Thailand,1,0,0
26,2003-03-19,United Kingdom,1,0,0
27,2003-03-19,United States,11,0,0
28,2003-03-19,Viet Nam,56,2,0
29,2003-03-20,Canada,9,2,0
30,2003-03-20,China,0,0,0
31,2003-03-20,Germany,1,0,0
32,2003-03-20,"Hong Kong SAR, China",173,6,0
33,2003-03-20,Singapore,34,0,0
34,2003-03-20,Slovenia,1,0,0
35,2003-03-20,Spain,1,0,0
36,2003-03-20,Switzerland,7,0,0
37,2003-03-20,"Taiwan, China",4,0,0
38,2003-03-20,Thailand,1,0,0
39,2003-03-20,United Kingdom,2,0,0
40,2003-03-20,United States,11,0,0
41,2003-03-20,Viet Nam,62,2,0
42,2003-03-21,Canada,9,2,0
43,2003-03-21,China,0,0,0
44,2003-03-21,Germany,1,0,0
45,2003-03-21,"Hong Kong SAR, China",203,6,0
46,2003-03-21,Italy,1,0,0
47,2003-03-21,Republic of Ireland,1,0,0
48,2003-03-21,Singapore,39,0,0
49,2003-03-21,Slovenia,1,0,0